@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

#open_menu[open] .open_icon,
#open_menu .close_icon {
  display: none;
}

#open_menu[open] .close_icon {
  display: block;
}

.bg-field::before,
.bg-field::after {
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.bg-field::before {
  z-index: 1;
}

.bg-field::after {
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hidden {
  display: none;
}
.visible {
  display: inline;
}
.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.profile-placeholder {
  width: 2rem; /* Equivalent to w-8 */
  height: 2rem; /* Equivalent to h-8 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Equivalent to text-white */
  font-size: 0.875rem; /* Equivalent to text-sm */
  border-radius: 9999px; /* Equivalent to rounded-full */
}
